@using RiotPls.DataDragon.Entities
@{
    var champions = (IReadOnlyList<Champion>)ViewData["champions"];
    var lang = ViewData["language_code"];
    var tiles = (Dictionary<int, string>) ViewData["tiles"];
}

<div class="row">
@foreach (var champion in champions.OrderBy(x => x.Name))
{
    <div class="col-lg-1 mb-4"><a href="/champion/@lang/@champion.Id"><img class="img-fluid" src="@tiles[champion.Key]" alt="@champion.Name"/></a></div>
}    
</div>